<h2><%= l(:label_import_tasks) %></h2>
<script language="javascript" type="text/javascript">
    function check_box_toggle_field(id, className, prefix, suffix){
        if (!$$) 
            return;
        
        var doc = '<select id="' + id + '">' +
        '<option disabled="disabled" selected="selected"><%= l(:label_selections) %></option>' +
        '<option><%= l(:label_select_all) %></option>' +
        '<option><%= l(:label_select_none) %></option>' +
        '<option><%= l(:label_select_invert) %></option>' +
        '</select>';
        
        if (prefix) 
            doc = prefix + doc;
        if (suffix) 
            doc = doc + suffix;
        
        document.write(doc);
        
        var list = document.getElementById(id);
        if (!list) 
            return;
        
        new SelectionHandler(list, className);
    }
    
    /* Object which handles selection list changes; by using an object, extra
     * information can be carried through by an event and the EventListener
     * interface.
     */
    function SelectionHandler(list, className){
        this.list = list;
        this.className = className;
        
        list.addEventListener('change', this, false);
    }
    
    /* Handle changes in the selection list */
    
    SelectionHandler.prototype.handleEvent = function(event){
        /* Perform the relevant action on the check boxes */
        
        $$('input.' + this.className).each(function(box){
            switch (event.currentTarget.selectedIndex) {
                case 1:
                    box.checked = true;
                    break;
                case 2:
                    box.checked = false;
                    break;
                case 3:
                    box.checked = !box.checked;
                    break;
            }
        });
        
        /* Restore the default selected item in the list */
        
        event.currentTarget.options[0].selected = true;
    }
</script>
<%= form_for( :import, { :url => { :action => 'create' }, :html => { :id => 'import', :multipart => true } } ) do | f | %>
<%- if ( @import.nil? or @import.tasks.nil? or @import.tasks.empty? ) %>
<%= raw l(:label_import_description1) %>
<%- else %>
<%= raw l(:label_import_description2) %>
<table border="0" cellspacing="0" cellpadding="2" align="center" class="bulk_task_import">
    <tr valign="middle" align="center" class="info">
        <th> 
            &nbsp;<%= l(:label_header_uid) %>&nbsp;
        </th>
        <th align="left"> 
            &nbsp;<%= l(:label_header_name) %>&nbsp;
        </th>
		<th>
            &nbsp;<%= l(:label_header_tracker) %>&nbsp;
        </th>
        <th align="left">
            &nbsp;<%= l(:label_header_startdate) %>&nbsp;
        </th>
        <th align="left">
            &nbsp;<%= l(:label_header_enddate) %>&nbsp;
        </th>
        <th>
            &nbsp;<%= l(:label_header_percentage) %>&nbsp;
        </th>
        <th>
            &nbsp;<%= l(:label_header_assigned_to) %>&nbsp;
        </th>
        <th>
            &nbsp;<%= l(:label_header_calendar) %>&nbsp;
        </th>
        <th>
            &nbsp;<%= l(:label_header_resource) %>&nbsp;
        </th>
        <th>
            &nbsp;<%= l(:label_header_requires) %>&nbsp;
        </th>
        <th>
            &nbsp;<%= l(:label_header_import) %>&nbsp;
        </th>
    </tr>
    <% titles = {}
    index = -1
    @import.tasks.each do | task |
    index += 1 -%>
    <tr valign="top" align="center" class="<%= cycle( 'even', 'odd' ) -%>">
        <td>
            <%= hidden_field_tag( "import[tasks][#{ index }][uid]", h( task.uid ) ) %>
            <%= hidden_field_tag( "import[tasks][#{ index }][level]", h( task.level ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][outnum]", h( task.outnum ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][outlinenumber]", h( task.outlinenumber ) ) %>	
	    	<%= hidden_field_tag( "import[tasks][#{ index }][duration]", h( task.duration ) ) %>	
	    	<%= hidden_field_tag( "import[tasks][#{ index }][notes]", h( task.notes ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][new_issue]", h( task.new_issue ) ) %>		
            <%= h( task.uid ) %>
        </td>
        <td align="left" class="task_title">
            <%= text_field_tag( "import[tasks][#{ index }][title]", h( task.title ), { :size => 50, :class => 'task_title' } ) %> 
        </td>
		<td align="left">
            <%= select_tag("import[tasks][#{ index }][tracker_id]", options_for_select([["", 0]] + @project.trackers.collect{|t| [t.name, t.id]}, (task.tracker_id || @tracker_id || 0))) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][start]", h( task.start ), { :size => 10 } ) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][finish]", h( task.finish ), { :size => 10 } ) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][percentcomplete]", h( task.percentcomplete ), { :size => 3 } ) %>
        </td>
        <td>
            <%= select_tag("import[tasks][#{ index }][assigned_to]",  options_for_select(loaderhelp_user_selector(@project), (task.assigned_to || 0))) %>
        </td>
        <td align="center">
            <%= text_field_tag( "import[tasks][#{ index }][calendar_uid]", h( task.calendar_uid ), { :size => 3 } ) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][resource]", h( task.resource ), { :size => 15 } ) %>
        </td>
        <td>
            <%= hidden_field_tag( "import[tasks][#{ index }][predecessors]", h( task.predecessors.join(', ') ) ) %>
            <%= h( task.predecessors.join(', ') ) %>
            <%= hidden_field_tag( "import[tasks][#{ index }][followers]", h( task.followers.join(', ') ) ) %>
            <%= h( task.followers.join(', ') ) %>
        </td>
        <td>
            <%= check_box_tag( "import[tasks][#{ index }][import]", '1', true, { :class => 'checkbox' } ) %>
        </td>
		<td>
            <%= hidden_field_tag( "import[tasks][#{ index }][delays]", h( task.delays.join(', ') ) ) %>
            <%= hidden_field_tag( "import[tasks][#{ index }][milestone]", h( task.milestone ) ) %>
        </td>
    </tr>
	    <%- if !task.new_issue %>
	    <tr>
			<td>		
				&nbsp;
	        </td>
	        <td align="left" class="task_title">
	        	<%- color = ''; if h( task.title ) != h( task.orig_title ); color = 'color: red;'; end %>
	            <%= text_field_tag( "import[tasks][#{ index }][orig_title]", h( task.orig_title ), { :size => 50, :class => 'task_title', :readonly => 'readonly', :style => color } ) %> 
	        </td>
			<td align="left">
				<%- color = ''; if task.tracker_id != task.orig_tracker_id; color = 'color: red;'; end %>
	            <%= select_tag( "import[tasks][#{ index }][orig_tracker_id]", options_for_select([["", 0]] + @project.trackers.collect{|t| [t.name, t.id]}, (task.orig_tracker_id || @tracker_id || 0)), { :disabled => 'disabled', :style => color } ) %>
	        </td>
	        <td align="left">
	            <%- color = ''; if h( task.start ) != h( task.orig_start ); color = 'color: red;'; end %>
	            <%= text_field_tag( "import[tasks][#{ index }][orig_start]", h( task.orig_start ), { :size => 10, :readonly => 'readonly', :style => color } ) %>
	        </td>
	        <td align="left">
	            <%- color = ''; if h( task.finish ) != h( task.orig_finish ); color = 'color: red;'; end %>
	            <%= text_field_tag( "import[tasks][#{ index }][orig_finish]", h( task.orig_finish ), { :size => 10, :readonly => 'readonly', :style => color } ) %>
	        </td>
	        <td align="left">
	            <%- color = ''; if h( task.percentcomplete ) != h( task.orig_percentcomplete ); color = 'color: red;'; end %>
	            <%= text_field_tag( "import[tasks][#{ index }][orig_percentcomplete]", h( task.orig_percentcomplete ), { :size => 3, :readonly => 'readonly', :style => color } ) %>
	        </td>
	        <td>
	            <%- color = ''; if task.assigned_to != task.orig_assigned_to; color = 'color: red;'; end %>
	            <%= select_tag( "import[tasks][#{ index }][orig_assigned_to]", options_for_select(loaderhelp_user_selector(@project), (task.orig_assigned_to || 0)), { :disabled => 'disabled', :style => color } ) %>
	        </td>
	        <td align="center">
	            <%- color = ''; if h( task.calendar_uid ) != h( task.orig_calendar_uid ); color = 'color: red;'; end %>
	            <%= text_field_tag( "import[tasks][#{ index }][orig_calendar_uid]", h( task.orig_calendar_uid ), { :size => 3, :readonly => 'readonly', :style => color } ) %>
	        </td>
	        <td>
	            <%- color = ''; if h( task.resource ) != h( task.orig_resource ); color = 'color: red;'; end %>
	            <%= text_field_tag( "import[tasks][#{ index }][orig_resource]", h( task.orig_resource ), { :size => 15, :readonly => 'readonly', :style => color } ) %>
	        </td>
	        <td>
	            &nbsp;
	        </td>  
			<td>
	            &nbsp;
	        </td>  
			<td>
	            &nbsp;
	        </td>  
	    </tr>
	    <%- end %>
    <% end %>
    <tr>
        <td align="right" colspan="10">
            <script language="javascript" type="text/javascript">
                check_box_toggle_field('toggle_check_boxes', 'checkbox', '<%= l(:label_select_tasks) %>&nbsp;', '&nbsp;&nbsp;');
            </script>
            <%= f.submit( l(:label_import), { :name => 'import[import_selected]' } ) %>
        </td>
    </tr>
</table>
<p>
    <%= l(:label_info_new_file) %>
</p>
<% end %>
<%= hidden_field_tag( "project_id", "#{@project.id}" ) %>
<%= f.file_field 'xmlfile' %>
<%= f.submit( l(:label_upload_xml), { :name => 'import[analyse]', :disable_with => l(:label_upload_xml) + '...' } ) %>
<% end %>
<br/></br/>
<h2><%= l(:label_export_tasks) %></h2>
<%= form_for( :import, { :url => { :action => 'export' },  :html => { :id => 'import', :multipart => true } } ) do | f | %>
<p>
    <%= l(:label_generate_xml) %>
</p>


<%= hidden_field_tag( "project_id", "#{@project.id}" ) %>
<%= f.submit( l(:label_export_issues), { :name => 'export'} ) %>


<% end %>
<% html_title(l(:menu_caption)) -%>